		
	<% if !@fields_with_keys[:iiif_manifest_link].nil? %>
	<%=		"<div id='document-viewer' style='background-color:#F8F4ED;margin-top:20px;border-radius:25px 25px 0px 0px;padding:0px 20px 20px 20px;''>".html_safe %>
	<%=   "<div id='alternate-versions-bar' style='padding:20px 10px 0px 0px;'>".html_safe %>
	<%=   "<em>Images provided by hosting institution via &nbsp;<a href=\"".html_safe %>
	<%=   @fields_with_keys[:iiif_manifest_link].values.first %>
	<%=   "\">".html_safe %>
	<%=   "<img src=\"https://groups.google.com/group/iiif-discuss/attach/97c1f508489d/IIIF-logo-colored-text.svg?part=0.1\" style=\"height:20px;margin-top:-3px;\"></a></em>".html_safe %>
	<%=   "<div id='my-mirador' style='display:inline-block;height:450px;position:relative;width:100%;padding-bottom:20px;'>".html_safe %>
	<%=   "</div>".html_safe %>
	<%=   "</div>".html_safe %>	
	<%=   "</div>".html_safe %>				
	<% else %>
	<%=   "<em style='display:block;padding-top:25px;'>No images provided by hosting institution</em>".html_safe %>	
	<% end	%>		

	<% if !@fields_with_keys[:iiif_manifest_link].nil? %>
	<% manifest = @fields_with_keys[:iiif_manifest_link].values.first %>
	<% else %>
	<% manifest = '' %>
	<% end %>
	
	<script type="text/javascript">
	var mirador = Mirador.viewer({
	  "id": "my-mirador",
	  "windows": [
	    {
	      "loadedManifest": "<%= manifest %>",
	      "canvasIndex": 2,
	      allowMaximize: false,
	    }
	  ],
	  workspace: {
		  showZoomControls: true,
	  },
	  workspaceControlPanel: {
	    enabled: false, // Configure if the control panel should be rendered.  Useful if you want to lock the viewer down to only the configured manifests
	  },  
	  themes: {
	    light: {
	      palette: {
	        type: 'light',
	        primary: {
	          main: '#E5B651',
	        },
			secondary: {
	          main: '#EBDABC',
	        },      
		    shades: { // Shades that can be used to offset color areas of the Workspace / Window
		      dark: '#F8F4ED',
		      main: '#F1E9DC',
		      light: '#F8F4ED',
		    },          
	      },
	    },
	  },	  
	});
	</script>
	<style type="text/css">
		.mirador5, .mirador6 {
			background-color:#F8F4ED !important;
		}
		.mosaic {
			background-color:#F8F4ED;
		}
		.MuiSvgIcon-fontSizeLarge {
			color:#E5B651 !important;
		}
	</style>

	<h3><br>Metadata</h3>
	<dl class="document-metadata dl-invert row">
	  <% fields.each do |field| -%>
	    <%= field %>
	  <% end -%>
	</dl>
