<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
  <h1 class="jumbotron-heading">Digital Scriptorium</h1>

  <p class="lead">
Digital Scriptorium is a growing consortium of American cultural heritage institutions 
committed to offering open online access to their collections of premodern manuscripts. 
  </p>
<!--
  <p>
    <%= link_to 'Advanced Search', 
'/advanced', class: 'btn btn-primary' %>
  </p>
  -->
</div>

<div class="jumbotron text-center p-2 mb-4 rounded-3" style="background-color:#B0BCE2;">
  <p class="lead" style="padding-top:10px;">
  	<a href="/users/sign_up">Create an account</a> to enable saved bookmarks and search history. 
  </p>
<!--
  <p>
    <%= link_to 'Advanced Search', 
'/advanced', class: 'btn btn-primary' %>
  </p>
  -->
</div>


<div id="getting-started">
	<div class="card card-default">
  <div class="card-body">
    <h2 class="h4 card-title"><a target="_blank" href="https://www.wikidata.org/wiki/Q515701"><img class="" style="height:50px;" src="https://img.icons8.com/external-sbts2018-flat-sbts2018/58/null/external-13-nodes-elastic-search-sbts2018-flat-sbts2018.png"></a> Linked Data</h2>
    Clicking the Linked Data icon (try above!) on our site will launch a new page showing you the Linked Data entry for that term. Digital Scriptorium 2.0 provides enhanced, standardized metadata using Linked Data Authorities such as <a target="_blank" href="https://wikidata.org">wikidata.org</a> and <a target="_blank" href="https://viaf.org">viaf.org</a>. 
        <br>&nbsp;<br>
        <strong>SEARCH BY CLICKING ON TERM, FOLLOW LINKED DATA VIA ICON</strong><br>
    <dd class="col-md-12 blacklight-author_display"><div class="ds-ld-bar">&nbsp;<a class="ds-ld-link" href="/?f%5Bauthor_facet%5D%5B%5D=Abou al-Layth As Samarqandî">Abou al-Layth As Samarqandî</a><a href="https://www.wikidata.org/wiki/Q938348" target="_blank" title="Explore this term via Linked Data">
			<img class="ds-ld-float" src="https://img.icons8.com/external-sbts2018-flat-sbts2018/58/null/external-13-nodes-elastic-search-sbts2018-flat-sbts2018.png"></a></div>
</dd>
  </div>
	</div>	
	<br>
	<div class="card card-default">
  <div class="card-body">
    <h2 class="h4 card-title">Search tips</h2>
    <p>For more options, including multi-value facet searching, use <a href="#">advanced search</a>.
    <img src="#" style="height:100px;width:100%;">
   </ul>
  </div>
</div>
	<!--
  <h2>ABOUT DS2.0</h2>

  <p>Digital Scriptorium (DS) is a growing consortium of American institutions with collections of global, premodern manuscripts. As an online union catalog, DS unites scattered rare materials, including dispersed manuscript leaves from dismembered books, into a national digital platform for cross-collection teaching and scholarly research. 
  </p>
  <p>
DS records not only include recognized touchstone materials, such as manuscripts signed and dated by their scribes or illuminators, but also unidentified manuscripts that are traditionally unlikely candidates for exhibition or reproduction in print. DS enables free and open discovery of information about historically significant but often understudied manuscript materials.
  </p>
  -->
  <!--
  <p>
    <ol>
      <li>To modify this text, you need to <a 
href="http://guides.rubyonrails.org/engines.html#improving-engine-functionality">override 
the Blacklight-provided view</a>.
  You can copy this file, located in the blacklight gem: <br />
  <%= Blacklight.root %>/app/views/catalog/_home_text.html.erb <br />
  to your own application: <br />
   <%= Rails.root %>/app/views/catalog/_home_text.html.erb
      </li>
      <li><a 
href="https://github.com/projectblacklight/blacklight/wiki/Indexing-your-data-into-solr">Index 
your own data</a> into Solr</li>
      <li><a 
href="https://github.com/projectblacklight/blacklight/wiki#blacklight-configuration">Configure 
Blacklight</a> to match your data and user-experience needs</li>
      <li><a href="https://github.com/projectblacklight/blacklight/wiki#support">Get in 
touch</a> with your comments, questions, and ideas</li>
    </ol>
  </p>
  -->
</div>

<!--
<p>Blacklight <%= Blacklight::VERSION %></p>
-->
